footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 60px 5% 20px;
  background: var(--dark);
  color: #fff;
}

footer .copy {
  grid-column: 1/-1;
  text-align: center;
}
